<header class="main-header">
  <div class="header-content">
    <div class="header-top">
      <div class="header-title">
        <h1><a href="<%- url_for('/') %>">Material Design</a></h1>
      </div>
      <div class="header-search">
        <md-filled-text-field placeholder="Search">
          <md-icon slot="leading-icon">search</md-icon>
        </md-filled-text-field>
      </div>
    </div>
    <div class="header-bottom">
      <p class="header-subtitle">Blog</p>
      <div class="header-actions">
        <md-filled-tonal-button>Subscribe</md-filled-tonal-button>
      </div>
    </div>
  </div>
</header>
