<% /*
 * layout/_partial/nav-bar.ejs
 * Mobile Bottom Navigation Bar
 */ %>
<nav class="nav-bar">
  <md-list>
    <md-list-item type="nav" href="/">主页</md-list-item>
    <md-list-item type="nav" href="/archives">归档</md-list-item>
  </md-list>
</nav>
