<% /*
 * layout/_partial/top-app-bar.ejs
 * Mobile Top App Bar
 */ %>
<header class="top-app-bar">
  <md-filled-button class="menu-button"><md-icon>menu</md-icon></md-filled-button>
  <div class="title"><%= config.title %></div>
  <!-- Other actions can go here -->
</header>
